langchain
python-dotenv
langchain_community
streamlit
pypdf
arxiv
bs4
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence-transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
langchain_groq
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
pytube
numexpr